   html,body{
  min-width:270px;
    color: #000000;
    background-color: #F1DBCA;
    font-family: 'Open Sans',Arial,sans-serif;
    line-height: 1.5;
margin:20px auto;

}
 #main{
    margin:20px 8px;
    padding:15px;
    border-radius:5px;
    background:#eee;
  }
h1{
text-align:center;
}
#image{
  display: flex;
  height:100;
width:200
}





